  html {
  	background:#fff;
  }

  body {
    font-family: Helveltica, sans-serif;
    background:#fff;
    color: #000;
    font-size:12px;
    overflow-x:hidden;
    margin:0px 0px 0px 0px;
    padding: 0px;
  }

  div#loader {
    transition: all 0.2s;
    background: #FFF;
    position: absolute;
    height: 100%;
    width: 100%;
    font-size: 13px;
    color: #000;
    z-index: 98;
  }
  #loader_bar {
    transition: all 0.2s;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background: #eaeaea;
    z-index: 99;
  }

  .digit {
    transition: all 0.2s;
    margin-left: auto ;
    margin-right: auto ;
    width: 50px;
    height: 50px;
    border: 1px solid #DDD;
    border-radius: 50px;
    background:#FFF;
    padding: 17px 10px 0px 10px;
    text-align:center;
    font-size:25px;
    color: #000;
    line-height: 36px;
    font-weight: 100;
  }

.digit.goodResponse {
  transition: all 0s;
  color: #FFF;
  background: #61e372;
  border: 1px solid transparent;
}
.digit.badResponse {
  transition: all 0s;
  background: #d00;
  color: #FFF;
  border: 1px solid transparent;
}
.digit.showCorrect {
  transition: all 0s;
  background: #6a758e;
  color: #FFF;
  border: 1px solid transparent;
}

  .button {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border: 1px solid #DDD;
    border-radius: 50px;
    background: #FFF;
    padding: 17px 10px 0px 10px;
    text-align: center;
    font-size: 25px;
    color: #333;
  }

  .button:hover {
  	background: #eee;
  }

  .button:active {
  	background: #ddd;
  }

  .menuimg {
  	height: 35px;
  }

  td {
  	width: 60px;
  	height: 60px;
  	text-align: center;
  	font-size: 15px;
  }

  div#title {
  	text-align: center;
  	font-size: 30px;
  	margin: -20px;
  }
